{% extends 'base.html' %}

{% block title %}Flask Cupcakes{% endblock %}

{% block content %}
  <h1>Cupcakes</h1>
  <ul class="cupcakes"></ul>
  <hr>
  <img src="" alt="">
  <form action="" id="add-cupcake">
    <h2>Add a Cupcake</h2>
    <label for="flavor">Flavor:</label>
    <input type="text" name="flavor" id="flavor" required>
    <br>
    <label for="size">Size:</label>
    <select name="size" id="size">
        <option value="n/a">-Please select a Size-</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
        <option value="extra-large">Extra Large</option>
    </select>
    <br>
    <label for="rating">Rating: <b id="rating-val">0</b></label>
    <br>
    <input type="range" name="rating" id="rating" min="0" max="10" step="0.1">
    <br>
    <label for="image">Image URL:</label>
    <input type="url"></input>
    <br>
    <button type="submit">Add</button>
  </form>
{% endblock %}